<ion-header>

  <ion-toolbar>

    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div>
    <ion-list>


      <ion-item (click)="login()">
        <ion-label style="  display: flex;
        align-items: center;">
          <span >
            <img  src="/assets/kakao-talk.png" alt="kakao talk icon"> 
          </span>
         &nbsp;&nbsp; <span style="vertical-align: middle;">Login with Kakao talk</span>
        </ion-label>
      </ion-item>
    
    </ion-list>

  </div>

</ion-content>